<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemistry Done Right</title>
   <link rel="stylesheet" href="styles.css">
   <script src="script.js" defer></script>
</head>
<body>
    <section class="header" id="home">
        <nav class="navbar">
            <img src="./images/cdr-logo.svg" alt="Building the minds of grade 9 students">
            <div class="nav-links">
                <div class="close_menu_button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24">
                        <path fill="#fff" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/></svg>
                </div>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#merchandise">Merchandise</a></li>
                    <li><a href="#contact" class="contact-btn">Contact Us</a></li>
                </ul>
            </div>
            <div class="menu_button">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <div class="header-content">
            <div class="header-content-text">
                <h1>Chemistry Done<br>Right</h1>
                <p>Our team of qualified tutors will provide the highest level of professionalism in the discharge of their duties.</p>
                <a href="#" class="dark-button">Register Now</a>
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <h2>Our Services</h2>
        <div class="services-content">
            <div class="courses">
                <div class="course_card service_grade_9">
                    <h3>Grade 9 Course</h3>
                    <div class="service_card_intro">
                        <h6>Prices starting from<br>$JMD $9,000.00</h6>
                        <button type="button" class="service_card_btn">Learn More</button>
                    </div>
                   <div class="course_details_all">
                    <div class="course_detail">
                        <h4>Group</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                    <div class="course_detail">
                        <h4>Private</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                   </div>
                </div>
                <div class="course_card service_grade_10">
                    <h3>Grade 10 Course</h3>
                    <div class="service_card_intro">
                        <h6>Prices starting from<br>$JMD $9,000.00</h6>
                        <button type="button" class="service_card_btn">Learn More</button>
                    </div>
                   <div class="course_details_all">
                    <div class="course_detail">
                        <h4>Group</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                    <div class="course_detail">
                        <h4>Private</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                   </div>
                </div>
                <div class="course_card service_grade_11">
                    <h3>Grade 11 Course</h3>
                    <div class="service_card_intro">
                        <h6>Prices starting from<br>$JMD $9,000.00</h6>
                        <button type="button" class="service_card_btn">Learn More</button>
                    </div>
                   <div class="course_details_all">
                    <div class="course_detail">
                        <h4>Group</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                    <div class="course_detail">
                        <h4>Private</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                   </div>
                </div>
                <div class="course_card service_grade_12">
                    <h3>Grade 12 Course</h3>
                    <div class="service_card_intro">
                        <h6>Prices starting from<br>$JMD $9,000.00</h6>
                        <button type="button" class="service_card_btn">Learn More</button>
                    </div>
                   <div class="course_details_all">
                    <div class="course_detail">
                        <h4>Group</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                    <div class="course_detail">
                        <h4>Private</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                   </div>
                </div>
                <div class="course_card service_grade_13">
                    <h3>Grade 13 Course</h3>
                    <div class="service_card_intro">
                        <h6>Prices starting from<br>$JMD $9,000.00</h6>
                        <button type="button" class="service_card_btn">Learn More</button>
                    </div>
                   <div class="course_details_all">
                    <div class="course_detail">
                        <h4>Group</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                    <div class="course_detail">
                        <h4>Private</h4>
                        <div class="course_time">
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>
                            <div class="time-sep"></div>
                            <div>
                                <p>Saturday</p>
                                <small>9:00 a.m = 11:00 a.m</small>    
                            </div>

                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="about">
        <div class="about_content">
            <div class="principal_image"></div>
            <div class="about_text">
                <h2>Meet The Principal</h2>
                <div class="about_info">
                    <h3>An Established Academic</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dignissimos pariatur, porro neque libero quasi esse repellendus consequatur saepe. Officia obcaecati cum expedita dolores natus? Repellendus aliquid, libero dolor aperiam ad quia eius sit quibusdam unde rem similique laudantium. Nisi.</p>
                </div>
                <div class="about_info">
                    <h3>Proven Experience</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dignissimos pariatur, porro neque libero quasi esse repellendus consequatur saepe. Officia obcaecati cum expedita dolores natus? Repellendus aliquid, libero dolor aperiam ad quia eius sit quibusdam unde rem similique laudantium. Nisi.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials" id="testimonials">
        <h2>Testimonials</h2>
        <p>Like carbon, we form strong bonds easily with our students but don't just take our word for it.Hear from some of our all star pupils</p>
        <div class="testimonials_body">
            <div class="testimonial_card">
                <div class="_profile_indicator"></div>
                <div class="seperator"></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum non nulla repellendus numquam cupiditate iure saepe asperiores repellat eos neque.</p>
            </div>
            <div class="testimonial_card">
                <div class="_profile_indicator"></div>
                <div class="seperator"></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum non nulla repellendus numquam cupiditate iure saepe asperiores repellat eos neque.</p>
            </div>
            <div class="testimonial_card">
                <div class="_profile_indicator"></div>
                <div class="seperator"></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum non nulla repellendus numquam cupiditate iure saepe asperiores repellat eos neque.</p>
            </div>
            <div class="testimonial_card">
                <div class="_profile_indicator"></div>
                <div class="seperator"></div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum non nulla repellendus numquam cupiditate iure saepe asperiores repellat eos neque.</p>
            </div>

        </div>
    </section>
    <section class="products" id="products">
        <h2>Products</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, temporibus beatae voluptatum officia repellendus inventore commodi dicta reprehenderit ullam harum, laborum, vel dolor cupiditate ex.</p>

    </section>
    <section class="footer">
        <div class="footer_body">
            <div class="footer_contact">
                <div class="company_address">
                    <h4>Company Address:</h4>
                    <address>Norwich District,<br>
                        Port Antonio P.O,<br>
                        Portland.
                    </address>
                </div>
                <div class="company_contact">
                    <h4>Contact:</h4>
                    <a class="contact_detail contact_whatsapp" href="tel:18768535909">+1(876)853-5909</a>
                    <a class="contact_detail contact_phone" href="tel:18768535909">+1(876)853-5909</a>
                    <a class="contact_detail contact_email" href="mailto:chemistrydoneright@gmail.com">chemistrydoneright@gmail.com</a>
                </div>
            </div>
            <div class="social">
                <h5>Connect with us on social media</h5>
                <div class="company_social_media">
                    <a class="company_social" href="tel:18768535909"><img src="./images/icons/facebook.svg" alt="Connect with us on facebook"></a>
                    <a class="company_social" href="tel:18768535909"><img src="./images/icons/instagram.svg" alt="Connect with us on instagram"></a>
                    <a class="company_social" href="tel:18768535909"><img src="./images/icons/twitter.svg" alt="Connect with us on twitter"></a>
                </div>
            </div>
            <div class="company_footer_identity">
                <img src="./images/cdr-logo.svg" alt="Chemistry done right logo">
                <div>
                    <h2>Chemistry Done Right</h2>
                    <p style="margin-top:25px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut autem minus officiis odit voluptatibus, quis obcaecati repellat alias possimus ipsum?</p>
                </div>
            </div>
            
        </div>
        <div class="website_copyright">
            <div class="copyright_badge">
                <p>Copyright 2022 Chemistry Done Right | All Rights Reserved </p>
            </div>
            <div class="digita_badge">
                <p>Powered by <img src="./images/icons/digita_finger.svg" alt="Digita branding">&nbsp; <a href="https://digitaglobal.com/">Digita Global</a></p>
            </div>
        </div>
    </section>
</body>
</html>